@{
    ViewData["Title"] = "Kein Zugriff";
}
<div class="text-center mt-5">
    <div class="col-6 mx-auto">
        <div>
            <h1 class="text-danger">Kein Zugriff</h1>
            <h4 class="mt-4">Sie besitzen nicht die benötigte Rolle in Issue Pilot, um auf diese Seite zuzugreifen.</h4>
        </div>
    </div>
</div>