@model IssuePilot.Models.ViewModels.AdministrationCreateViewModel

@{
    ViewData["Title"] = "Benutzer hinzufügen";
    ViewBag.Tab = "3";
}
<h4 class="text-break">
    <a class="back-link btn-slide rounded-pill pr-2 py-1" asp-action="Index">
        <span class="icon-wrapper-clickable">
            <svg class="back-icon" width="15" height="25" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 24L3.83456 15.018C2.79432 13.8738 2.79432 12.1262 3.83456 10.982L12 2" stroke-width="4" />
            </svg>
        </span> <span class="back-icon has-icon button-text">Benutzer</span>
    </a>
</h4>
<h2 class="mt-4">
    Benutzer hinzufügen
</h2>
<hr />
<div class="row">
    <div class="offset-xl-4 offset-md-3 offset-sm-1"></div>
    <div class="col-xl-4 col-md-6 col-sm-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger text-break"></div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label">Vorname</label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger text-break"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Nachname</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger text-break"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-Mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger text-break"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger text-break"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger text-break"></span>
            </div>
            <div class="form-group">
                <label>Rolle</label>
                <select asp-for="Role"
                        class="form-control selectpicker">
                    <option>Benutzer</option>
                    <option>Projektmanager</option>
                    <option>Admin</option>
                </select>
            </div>
            <div class="form-group mt-5 text-right">
                <button type="submit" style="min-width:60px" class="text-nowrap btn btn-blue btn-slide btn-slide-blue">Hinzufügen</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}