@model IssuePilot.Models.ViewModels.AdministrationDeleteViewModel

@{
    ViewData["Title"] = "Benutzer löschen";
    ViewBag.Tab = "3";
}
<h4 class="text-nowrap">
    <a class="back-link btn-slide rounded-pill pr-2 py-1" asp-action="Index">
        <span class="icon-wrapper-clickable">
            <svg class="back-icon" width="15" height="25" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 24L3.83456 15.018C2.79432 13.8738 2.79432 12.1262 3.83456 10.982L12 2" stroke-width="4" />
            </svg>
        </span> <span class="back-icon has-icon button-text">Benutzer</span>
    </a>
</h4>
<h3 class="mt-4">Benutzer löschen</h3>
<hr />
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="card shadow-card border-0 mb-4 bg-danger">
            <div class="card-body text-white">
                <div class="card-title">Warnung!</div>
                <p>Sind Sie sicher, dass Sie diesen Benutzer endgültig löschen möchten?</p>
                
            </div>
            <div class="card-footer p-0 bg-white">
                <div class="card-body">
                    <div class="form-group">
                        <label>Nutzername</label>
                        <input type="text" readonly class="form-control" value="@Html.DisplayFor(model => model.UserName)">
                    </div>
                    <div class="form-group">
                        <label>Rolle</label>
                        <input type="text" readonly class="form-control" value="@Html.DisplayFor(model => model.Role)">
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" readonly class="form-control" value="@Html.DisplayFor(model => model.Email)">
                    </div>
                </div>
                
                <form asp-action="Delete" class="text-right mr-4 mb-4">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Löschen" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>


