@model IssuePilot.Models.ViewModels.ProjectEditMemberViewModel

@{
    ViewData["Title"] = "Mitglied bearbeiten";
    ViewBag.Tab = "2";
}
<h4 class="text-break">
    <a class="back-link btn-slide rounded-pill pr-2 py-1" asp-action="Members" asp-controller="Project" asp-route-id="@Model.ProjectId">
        <span class="icon-wrapper-clickable">
            <svg class="back-icon" width="15" height="25" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 24L3.83456 15.018C2.79432 13.8738 2.79432 12.1262 3.83456 10.982L12 2" stroke-width="4" />
            </svg>
        </span> <span class="back-icon has-icon button-text">Mitglieder</span>
    </a>
</h4>
<h2 class="mt-4">Mitglied bearbeiten</h2>
<hr />
<div class="row">
    <div class="offset-lg-4 offset-md-3 offset-sm-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-10">
        <form asp-action="EditMember">
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label>Nutzername</label>
                <input type="text" readonly class="form-control" value="@Html.DisplayFor(model => model.UserName)">
            </div>
            <div class="form-group">
                <label class="control-label">Projektrolle auswählen (@Html.DisplayFor(model => model.ProjectRole.Title))</label>
                <select asp-for="ProjectRoleId" class="form-control selectpicker" asp-items="@Model.ProjectRoleList">
                </select>
            </div>
            <div class="form-group mt-5 text-right">
                <button type="submit" style="min-width:60px" class="text-nowrap btn btn-blue btn-slide btn-slide-blue">Speichern</button>
            </div>
        </form>
    </div>
</div>

